@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');



:root{
    --color-default:rgb(46, 46, 46);
    --color-light-2:#0f4e9f;
    --color-dark:rgb(0, 39, 94);
}

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size:62.5%;
    font-family: "Open Sans", sans-serif;
    overflow-y: hidden;
}

///////////////top nav bar
.topMenu{
    font-size:1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding:.5rem .5rem .75rem .5rem;
    color:white;
    background-color:var(--color-dark);

    &__logo{
        font-weight:300;
    }
}





///////////////main body
.container{
    display: flex;
    height:100vh;
}

.leftContainer{
    border-right:1px solid #ccc;
    background-color: #ddd;
    flex:0.19;
    height:95vh;
}

.rightContainer{
    overflow-y:auto;
    height:90%;
    flex:1;
    background-color:white;
    display: flex;
    flex-direction: column;
    padding:2rem;
}

///////////////left nav hamburger
.toggle{
 

    &__checkbox{
        display: none;

    }

    &__checkbox:checked + &__button &__icon::before{
        top:0;
        transform: rotate(45deg);
    }

    &__checkbox:checked + &__button &__icon::after{
        top:0;
        transform: rotate(-45deg);
    }

    &__checkbox:checked + &__button &__icon{
        color:transparent;
        background-color:transparent;
    }


    &__button{
        
        padding:.75rem .5rem .5rem .5rem;
        height:1.75rem;
        transition:background-color .3s;
        &:hover{
            background-color:white;
        }
    }

    &__icon{
        
        display: block;
        height:2.5px;
        width:1rem;
        background-color:var(--color-default);
        position: relative;
        cursor: pointer;
        transition: all .3s;


    
        
        
        &::before,
        &::after{
        content:"";
        position: absolute;
        height:2px;
        width:1rem;
        left:0;
        background-color:var(--color-default);
        transition: all .2s;
        }

        &::before{
            top:-.25rem;
        }

        &::after{
            top:.3rem;
        }
    }
}


////left nav item 
.taskBar{
    padding-top:2rem;
    list-style: none;
    font-size:.7rem;
    display: flex;
    flex-direction: column;



    &__item{
        cursor: pointer;
        // margin-top:1.1rem;
        padding:.5rem;
        color:var(--color-default);

  
        &:hover {
            background-color:white;
    
        }
        &:first-of-type{
            margin-top:.5rem;
        }

        & .fas{
            font-size:1rem;
        }
       
    }


    &__title{
        padding-left:.5rem;

    }
}


.task__header{
    display: flex;
    align-items: flex-start;

    &-left{
        display: flex;
        align-items: center;
    }
}



/////////right container
.task__displays{
    width:70%;
    margin-top:2rem;
    height:120%;
    display: flex;
    flex-direction: column;
    overflow-y:auto;
}


//container of the input field
.task__inputContainer{
    // border:1px solid red;
    display: flex;
    align-items: center;
    border-bottom:1px solid var(--color-dark);
    width:95%;
    position: relative;

  
}

.plussign{
        cursor: pointer;
        background-color:var(--color-light-2);
        width:1.7rem;
        height:1.7rem;
        border-radius: 2rem;
        margin-right:.5rem;
        margin-bottom:.5rem;
        position: relative;
        left:0;


        &::before,&::after{
            content: ""; 
            position: absolute;
            display: block;
            background-color:white;
            z-index:9;        
        }

        &::before{
            width:3px;
            height:1rem;
            top:20%;
            left:50%;
            transform: translateX(-50%);
        }

        &::after{
            width:1rem;
            height:3px;
            top:45%;
            left:50%;
            transform: translateX(-50%);
        }
    
}



//container of the form area
.addTodo{
   
    padding-left:.5rem;
    padding-bottom:.5rem;
    width:95%;
    transition: all .5s;
    overflow-y:auto;
  
}

//sub-container of the form to make use flex
.inputfieldContainer{
    display: flex;
    justify-content: flex-start;
    padding-bottom:.2rem;
   
}

.list{
   //////////////////////////unordered list style
        &__item{margin-top:.5rem;
            display: flex;
            flex:1;
            align-items: center;
            padding:.5rem .2rem;
            list-style: none;
            width:95%;
            border-bottom: 1px solid #ccc;
           
            & > div{
                margin-left:.5rem;
            }


            & .fas{
                margin-right:.52rem;
                
            }


          }

        &__check{
            margin-right:2rem;
            position: relative;
            display: block;
            cursor: pointer;

            //when mouse over, tick appears
            &:hover input ~.list__tick::after{
                display: block;
            }

            //when checked - background add
            & input:checked ~.list__tick{
                background-color:var(--color-dark);

                &::after{
                    display: block;
                    border:1px solid white;
                    border-width: 0 1px 1px 0;
                }
            }

        }  
        &__checkbox {
            // margin-right:1rem;
            cursor: pointer;
            opacity:0;
            position: absolute;
            height:0;
            width:0;

        }

        &__tick{
            position: absolute;
            top:-.7rem;
            left:0;
            height:1.5rem;
            width:1.5rem;
            border-radius: 2rem;
            background-color:transparent;
            border:.5px solid var(--color-dark);

            &::after{
                display: none;
                content:"";
                position: absolute;
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: solid var(--color-dark);
                border-width: 0 1px 1px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            
        }
        


          ////////////////////////inputFields
          &__add{
              padding-bottom: .5rem;
              border-bottom: 1px solid var(--color-light-2);
              border-top:0px;
              border-left:0px;
              border-right:0px;
              margin-bottom: .5rem;
              
              
            
              &-describe{
                padding-bottom: .5rem;
                border:none;
              
               
              }
              &-duedate{
                    font-family:"Open-sans",sans-serif;
                    margin-top:.5rem;
                    width:40%;
            
              }
          }

          &__add,&__add-describe{
              width:95%;
           

              

              &:focus{
                    outline:var(--color-dark);
              }


          }

  

          &__btn-add{
              border:none;
              background-color:transparent;
              text-transform: uppercase;
              font-weight:700;
              cursor: pointer;
          }

          &__delete, &__edit,&__important, &__save{
            cursor: pointer;
            border:none;
            background-color:transparent;
            font-size:.7rem;
            font-weight:700;
            opacity: 0;
            transition: all .3s;
            color:#e92b4b;
  
      
          }

          &__save{
              margin-top:.5rem;
          }
          &__delete{
              margin-top:.5rem;
              margin-right:.5rem;
         
          }

          &__edit{
           margin-right:.5rem;
              
          }

          &__toDo{
              width:inherit;
              position: relative;
              &:hover > button{
                opacity: 1;
                  
              }
          }



          
}


.btn{
    &-submit, &-cancel{
        padding:.5rem;
        background-color: transparent;
        border:1px solid var(--color-dark);
        color:var(--color-dark);
        border-radius: 5px;
        text-align: right;
        transition: all .2s;
        margin-right:.5rem;

        &:hover{
            color:white;
            background-color:var(--color-dark);
        }
    }
}

.fa-flag{
    margin-left:.2rem;
    margin-right:.5rem;
}
.fa-trash{
    cursor: pointer;
}

///////////typography
.heading{

    &__primary{
        color:var(--color-dark);
        margin-right:.5rem;
    }

    &__secondary{
        font-size:.85rem;
        color:var(--color-light-2);
        margin-bottom:.5rem;
        font-weight:700;


  
    }
}

.paragraph{
    margin:.2rem 0rem;
    color:var(--color-default);
    font-size:.78rem;

    &-blue{
        color:var(--color-dark);
        font-size:.5rem;
        
    }
}




///UI changes MIsc
.addItem{
    font-size:1rem;
    color:var(--color-dark);
}

.done{
    color:#aaa;
    text-decoration:line-through;
}
.show{
    opacity:1;
}

.hide{
    display: none;
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

